html {
  font-family: "Noto Sans JP", "Zen Maru Gothic", "DM Sans", "Roboto", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* *********** header **************** */
.fv {
  background-image: url(../img/pc/fv-bg-img@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 70px;
}

.navigation {
  display: none;
  position: fixed;
  top: 95px;
  z-index: 9999;
  background-color: #DB0000;
  width: 100%;
}

.navigation_list_item {
  padding: 0px 10px;
}

.navigation_link {
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: solid 1px #FFF;
}

.navigation_link img {
  width: 16px;
  height: auto;
}

.navigation_list_item:last-of-type {
  margin-bottom: 30px;
}

.sp_contact_button_content {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 20px;
}

.sp_contact_button_content img {
  width: 500px;
  height: auto;
}

header {
  padding: 10px 0px;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}

.logo_content {
  margin-left: 120px;
}

.sp_logo_img {
  display: none;
}

.hamburger_close,
.hamburger_open {
  display: none;
}

.header_menu_ul {
  display: flex;
  align-items: center;
  width: 900px;
  padding-top: 0px;
}

.header_menu_ul a {
  font-size: 16px;
  font-weight: bold;
  color: #0D0D0D;
}

.header_menu_ul li:first-child {
  margin-left: 46px;
}

.header_menu_ul li:first-child,
.header_menu_ul li:nth-child(2),
.header_menu_ul li:nth-child(3) {
  margin-right: 40px;
}

.header_menu_ul li:nth-child(4) {
  margin-right: 46px;
}

.header_menu_ul li:nth-child(5) {
  position: relative;
  top: 5px;
}

.header_menu_ul li:nth-child(5):hover {
  opacity: 0.7;
}

.header_menu li a img {
  display: block;
}


/* ************* fv ******************** */

.fv_content_flex {
  display: flex;
  margin-top: 44px;
  align-items: center;
}

.fv_left_content {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-left: 294px;
  margin-right: 19px;
}

.pc_fukidashi_img {
  margin-bottom: -6px;
  margin-top: -5px;
}

.sp_fukidashi_img {
  display: none;
}

.fukidashi_bottom_content {
  margin-bottom: 29px;
}

.fukidashi_bottom_text_top_content {
  display: flex;
  justify-content: center;
}

.fukidashi_bottom_text {
  font-size: 28px;
  font-weight: bold;
}

.fukidashi_bottom_text.center {
  margin-bottom: 4px;
}

.fukidashi_bottom_text.bottom {
  font-size: 18px;
  font-weight: normal;
}

.icon_rectangle_content {
  display: flex;
  gap: 10px;
}

.sp_icon_text {
  display: none;
}

.fv_right_content {
  margin-top: 11px;
}

/* ********** cta ********************* */
.cta_content {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.cta_content a:hover {
  opacity: 0.7;
}

.sp_cta {
  display: none;
}

/* ************ worries ****************** */
.worries {
  background-color: #F8F8F8;
  padding-top: 57px;
  padding-bottom: 48px;
}

.worries_top_text_content {
  display: flex;
  flex-flow: column;
  margin-left: 533px;
}

.worries_top_text_content h2 {
  font-size: 37px;
  font-weight: bold;
}

.dots,
.red_text {
  letter-spacing: 1.5px;
  color: #DB0000;
  font-size: 42px;

}

.worries_top_text_content h2 .dots:nth-of-type(2) {
  background-image: radial-gradient(circle at center, #DB0000 20%, transparent 20%);
  /* 点の色とサイズ調整 */
  background-position: 0px 1px;
  /* 点の位置 */
  background-repeat: repeat-x;
  /* 横方向に繰り返し */
  background-size: 1em 0.3em;
  /* 点の間隔とサイズ調整 */
  padding-top: 0.12em;
  /* 縦方向の位置調整 */
}

.worries_top_text_content h2 .dots:nth-of-type(4) {
  background-image: radial-gradient(circle at center, #DB0000 20%, transparent 20%);
  /* 点の色とサイズ調整 */
  background-position: 1px 1px;
  /* 点の位置 */
  background-repeat: repeat-x;
  /* 横方向に繰り返し */
  background-size: 1em 0.3em;
  /* 点の間隔とサイズ調整 */
  padding-top: 0.12em;
  /* 縦方向の位置調整 */
}

.worries_top_text_content h2 .dots:nth-of-type(5) {
  background-image: radial-gradient(circle at center, #DB0000 20%, transparent 20%);
  /* 点の色とサイズ調整 */
  background-position: 3px 1px;
  /* 点の位置 */
  background-repeat: repeat-x;
  /* 横方向に繰り返し */
  background-size: 1em 0.3em;
  /* 点の間隔とサイズ調整 */
  padding-top: 0.12em;
  /* 縦方向の位置調整 */
}

.mada_text {
  letter-spacing: -0.7px;
}

.arima_text {
  display: none;
}

.worries_main_content_flex {
  display: flex;
  /* justify-content: center; */
  margin-top: 51px;
  /* gap:20px; */
}

.worries_reft_content {
  margin-left: 401px;
}

.bg_fukidashi_content_reft_top {
  background-image: url("../img/pc/fukidashi-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 332px;
  height: 128px;
  margin-top: -2px;
  position: relative;
}

.bg_fukidashi_content_reft_center {
  background-image: url("../img/pc/fukidashi-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 345px;
  height: 128px;
  margin-top: -4px;
  margin-left: 3px;
  position: relative;
}

.bg_fukidashi_content_reft_bottom {
  background-image: url("../img/pc/fukidashi-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 332px;
  height: 128px;
  position: relative;
}

.bg_fukidashi_content_right_top {
  background-image: url("../img/pc/fukidashi-4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 332px;
  height: 148px;
  margin-top: 38px;
  position: relative;
}

.bg_fukidashi_content_right_bottom {
  background-image: url("../img/pc/fukidashi-5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 332px;
  height: 148px;
  position: relative;
}

.fukidashi_text {
  color: #FFF;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.sp {
  display: none;
}

.fukidashi_text.center {
  text-align: left;
  top: 47%;
  left: 62%;
}

.fukidashi_text.right_top {
  top: 48%;
}

.fukidashi_text.right_bottom {
  top: 47%;
}

.worries_center_content {
  margin-left: 5px;
}

.worries_right_content {
  margin-left: 25px;
}

/* *********** shinjoshiki **************** */
.h2_content {
  display: flex;
  justify-content: center;
  margin-top: 58px;
}

.h2_content h2 {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
}

.sub_text_content p {
  font-size: 28px;
  font-weight: bold;
}

.text_red {
  color: #DB0000;
}

.sub_text_content {
  margin-top: 31px;
  margin-left: 613px;
  margin-bottom: 53px;
}

.sub_text_bottom {
  display: inline-block;
  margin-left: 13px;
}

.sp_sub_text {
  display: none;
}

.shinjoshiki_img_content {
  display: flex;
  justify-content: center;
  margin-bottom: -128px;
  z-index: 2;
}

.sp_shinjoshiki_img {
  display: none;
}

/* -------------- tuyomi ---------------- */
.tuyomi_section {
  background-color: #F8F8F8;
  z-index: 1;
  padding-bottom: 60px;
}

.h2_content_tuyomi {
  padding-top: 195px;
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}

.h2_content_tuyomi h2 {
  display: flex;
  align-items: center;
}

.text_no {
  font-size: 34px;
  font-weight: bold;
  position: relative;
  top: -3px;
}

.text_red.tuyomi {
  font-size: 44px;
  position: relative;
  top: -6px;
  left: 2px;
}

.tuyomi_img_content_wrapper_flex {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.tuyomi_img_content {
  background-image: url(../img/pc/tuyomi-img-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 368px;
  aspect-ratio: 368 / 499;
  height: auto;
}

.tuyomi_img_content.center {
  background-image: url(../img/pc/tuyomi-img-2.png);
}

.tuyomi_img_content.right {
  background-image: url(../img/pc/tuyomi-img-3.png);
}

.tuyomi_img_text_content {
  padding-top: 237px;
}

.h4_content {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 19px;
}

.h4_content h4 {
  font-size: 24px;
  font-weight: bold;
}

.text_center {
  display: flex;
  justify-content: center;
}

.tuyomi_img_p_content {
  display: flex;
  justify-content: center;
}

.tuyomi_img_p_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.9px;
}




@media screen and (min-width: 1921px) {
  .fv_content_flex {
    justify-content: center;
    gap: 32px;
  }

  .fv_left_content {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* ********* worries ********** */
  .worries_top_text_content {
    align-items: center;
    margin-left: 0px;
  }

  .worries_main_content_flex {
    justify-content: center;
    gap: 20px;
  }

  .worries_reft_content {
    margin-left: 0px;
  }

  .bg_fukidashi_content_reft_center {
    margin-left: 0px;
  }

  .worries_center_content {
    margin-left: 0px;
  }

  .worries_right_content {
    margin-left: 0px;
  }

  /* *********** shinjoshiki **************** */
  .sub_text_content {
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }

  .sub_text_bottom {
    display: block;
    margin-left: 0px;
  }

  .sub_text_content p:not(.sp_sub_text) {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

}

@media screen and (max-width: 1919px) {
  .worries_top_text_content {
    align-items: center;
    margin-left: 0px;
  }

  .fv_content_flex {
    justify-content: center;
    gap: 32px;
  }

  .fv_left_content {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* ********* worries ********** */
  .worries_main_content_flex {
    justify-content: center;
    gap: 20px;
  }

  .worries_reft_content {
    margin-left: 0px;
  }

  .bg_fukidashi_content_reft_center {
    margin-left: 0px;
  }

  .worries_center_content {
    margin-left: 0px;
  }

  .worries_right_content {
    margin-left: 0px;
  }

  /* *********** shinjoshiki **************** */
  .sub_text_content {
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }

  .sub_text_bottom {
    display: block;
    margin-left: 0px;
  }

  .sub_text_content p:not() {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

}


@media screen and (max-width: 1400px) {
  .pc_fukidashi_img {
    width: 420px;
    height: auto;
  }

  .fukidashi_bottom_text {
    font-size: 22px;
  }

  .fukidashi_bottom_text.bottom {
    font-size: 16px;
  }

  .pc_icon_text {
    width: 130px;
    height: auto;
  }

  .fv_right_content img {
    width: 450px;
    height: auto;
  }
}

@media screen and (max-width: 1220px) {
  .header_menu_ul {
    width: 750px;
  }

  .header_menu_ul li:first-child {
    margin-left: 0px;
  }

  .header_menu_ul li:first-child,
  .header_menu_ul li:nth-child(2),
  .header_menu_ul li:nth-child(3) {
    margin-right: 20px;
  }

  .header_menu_ul li:nth-child(4) {
    margin-right: 26px;
  }

  /* ******** worries ********** */
  .worries_top_text_content h2 {
    font-size: 30px;
  }

  .dots,
  .red_text {
    font-size: 36px;
  }

  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 300px;
  }

  .fukidashi_text {
    font-size: 18px;
  }

  .fukidashi_text.center {
    left: 66%;
  }

  .worries_center_content {
    margin-top: auto;
    margin-bottom: auto;
  }

  .worries_center_content img {
    width: 300px;
    height: auto;
  }

}

@media screen and (max-width: 1120px) {
  .logo_content {
    margin-left: 80px;
  }

  .header_menu_ul {
    width: 690px;
  }

  .header_menu_ul li:first-child,
  .header_menu_ul li:nth-child(2),
  .header_menu_ul li:nth-child(3) {
    margin-right: 10px;
  }

  .header_menu_ul li:nth-child(4) {
    margin-right: 16px;
  }

  /* ---------- cta ------------- */
  .cta_content img:first-child {
    width: 900px;
    height: auto;
  }

  /* ------------------- shinjoshiki ----------------- */
  .shinjoshiki_img_content img:not(.sp_shinjoshiki_img) {
    width: 800px;
    aspect-ratio: 1100 / 324;
    height: auto;
  }

  /* ------------- tuyomi --------------------- */
  .tuyomi_img_content_wrapper_flex {
    gap: 0px;
  }

  .tuyomi_img_content {
    width: 330px;
  }

  .tuyomi_img_text_content {
    padding-top: 220px;
  }

  .h4_content {
    margin-bottom: 7px;
  }

  .h4_content h4 {
    font-size: 22px;
  }

  .tuyomi_img_p_content p {
    font-size: 17px;
    line-height: 25px;
  }
}


/* ********** ブレイクポイント ***************** */
@media screen and (max-width: 1000px) {
  .fv {
    padding-bottom: 23px;
  }

  header {
    background-color: aqua;
    padding: 38px 0px;
  }

  .pc_logo_img {
    width: 220px;
    height: auto;
  }

  .header_menu_nav {
    display: none;
  }

  .hamburger_close,
  .hamburger_open {
    display: block;
    margin-right: 30px;
    width: 40px;
  }

  .hidden {
    display: none !important;
  }

  .fv_content_flex {
    flex-flow: column;
  }

  .pc_fukidashi_img {
    display: none;
  }

  .sp_fukidashi_img {
    display: block;
    width: 500px;
    height: auto;
  }

  .fukidashi_bottom_text {
    font-size: 28px;
  }

  .kome {
    position: relative;
    font-size: 18px;
    top: 2px;
  }

  .fukidashi_bottom_text.bottom {
    font-size: 18px;
  }

  .icon_rectangle_content {
    gap: 28px;
  }

  .pc_icon_text {
    width: 230px;
  }

  .fv_right_content img {
    width: 530px;
  }

  /* ------------ cat --------------- */


  .cta_content {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* PC用画像を非表示 */
  .cta_content img:first-child {
    display: none;
  }

  .cta_content a {
    width: 100%;
    /* 必要に応じてmax-width調整OK */
  }

  /* sp画像を幅1000px基準で可変表示 */
  .sp_cta {
    display: block;
    width: 100% !important;
    max-width: 1000px !important;
    height: auto !important;
  }

  /* -------------------- worries ------------- */
  .worries {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .mada_text {
    display: none;
  }

  .arima_text {
    display: block;
    text-align: center;
  }

  .sp {
    display: block;
  }

  .worries_main_content_flex {
    gap: 0px;
    margin-top: 30px;
  }

  .bg_fukidashi_content_reft_top {
    background-image: url(../img/sp/sp-fukidashi-1.png);
  }

  .bg_fukidashi_content_reft_center {
    background-image: url(../img/sp/sp-fukidashi-2.png);
  }

  .bg_fukidashi_content_reft_bottom {
    background-image: url(../img/sp/sp-fukidashi-3.png);
  }

  .bg_fukidashi_content_right_top {
    background-image: url(../img/sp/sp-fukidashi-4.png);
  }

  .bg_fukidashi_content_right_bottom {
    background-image: url(../img/sp/sp-fukidashi-5.png);
  }

  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 252px;
    aspect-ratio: 141 / 105;
    height: auto;
  }

  .fukidashi_text {
    text-align: left;
    width: 50%;
  }

  .fukidashi_text,
  .fukidashi_text.center {
    left: 45%;
  }

  .fukidashi_text.right_top,
  .fukidashi_text.right_bottom {
    left: 54%;
  }

  /* ------------------- shinjoshiki ----------------- */
  .sub_text_content p:not(.sp_sub_text) {
    display: none;
  }

  .sp_sub_text {
    display: block;
  }

  .shinjoshiki_img_content img:not(.sp_shinjoshiki_img) {
    display: none;
  }

  .sp_shinjoshiki_img {
    display: block;
    width: 500px;
    aspect-ratio: 311 / 317;
    height: auto;
  }

  /* --------------- tuyomi ----------------------- */
  .tuyomi_img_content_wrapper_flex {
    flex-flow: column;
    align-items: center;
  }

  .tuyomi_img_content {
    background-image: url(../img/sp/sp-tuyomi-img-1.png);
  }

  .tuyomi_img_content.center {
    background-image: url(../img/sp/sp-tuyomi-img-2.png);
  }

  .tuyomi_img_content.right {
    background-image: url(../img/sp/sp-tuyomi-img-3.png);
  }

  .tuyomi_img_content,
  .tuyomi_img_content.center,
  .tuyomi_img_content.right {
    width: 550px;
    aspect-ratio: 361 / 376;
  }

  .tuyomi_img_text_content {
    padding-top: 264px;
  }

  .h4_content h4 {
    font-size: 33px;
  }

  .h4_content {
    margin-bottom: 12px;
  }

  .tuyomi_img_p_content p {
    font-size: 22px;
    line-height: 35px;
  }

}

@media screen and (max-width: 800px) {
  .sp_fukidashi_img {
    width: 400px;
  }

  .pc_icon_text {
    width: 160px;
  }

  .fv_right_content img {
    width: 430px;
  }

  /* ********** worries *********** */
  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 210px;
  }

  .fukidashi_text {
    width: 60%;
  }

  .fukidashi_text,
  .fukidashi_text.center {
    left: 46%;
  }

  .worries_center_content img {
    width: 170px;
  }

  .fukidashi_text.right_top,
  .fukidashi_text.right_bottom {
    left: 55%;
  }
}

@media screen and (max-width: 600px) {
  .sp_contact_button_content img {
    width: 460px;
  }

  .sp_fukidashi_img {
    width: 300px;
  }

  .fukidashi_bottom_text {
    font-size: 22px;
  }

  .kome,
  .fukidashi_bottom_text.bottom {
    font-size: 15px;
  }


  .pc_icon_text {
    width: 120px;
  }

  .fv_right_content img {
    width: 330px;
  }

  /* ********** worries ************* */
  .worries_top_text_content h2 {
    font-size: 22px;
  }

  .dots,
  .red_text {
    font-size: 30px;
  }

  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 170px;
  }

  .fukidashi_text {
    font-size: 14px;
  }

  .worries_center_content img {
    width: 110px;
  }

  /* --------- shinjoshiki -------------- */
  .h2_content h2 {
    font-size: 24px;
  }

  .h2_content h2 img {
    width: 180px;
    height: auto;
  }

  .sub_text_content p {
    font-size: 20px;
  }

  .sp_shinjoshiki_img {
    width: 400px;
    height: auto;
  }

  /* ------------- tuyomi ------------------ */
  .img_wrap img {
    width: 180px;
    height: auto;
  }

  .text_no {
    font-size: 24px;
  }

  .text_red.tuyomi {
    font-size: 34px;
  }

  .h2_content_tuyomi {
    margin-bottom: 30px;
  }

  .tuyomi_img_content,
  .tuyomi_img_content.center,
  .tuyomi_img_content.right {
    width: 420px;
  }

  .h4_content h4 {
    font-size: 24px;
  }

  .tuyomi_img_p_content p {
    font-size: 17px;
    line-height: 26px;
  }

  .tuyomi_img_text_content {
    padding-top: 220px;
  }

}

@media screen and (max-width: 450px) {
  .sp_contact_button_content img {
    width: 360px;
  }

  .logo_content {
    margin-left: 16px;
  }


  .hamburger_close,
  .hamburger_open {
    margin-right: 16px;
  }

  .sp_fukidashi_img {
    width: 260px;
  }

  .fukidashi_bottom_text {
    font-size: 20px;
  }

  .kome,
  .fukidashi_bottom_text.bottom {
    font-size: 14px;
  }

  .icon_rectangle_content {
    gap: 10px;
  }

  .pc_icon_text {
    width: 110px;
  }

  .fv_right_content img {
    width: 300px;
  }

  /* *********** worries *************** */
  .worries {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .worries_top_text_content h2 {
    font-size: 20px;
  }

  .dots,
  .red_text {
    font-size: 26px;
  }

  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 132px;
  }

  .fukidashi_text,
  .fukidashi_text.center {
    left: 48%;
  }

  .fukidashi_text {
    font-size: 12px;
    width: 70%;
  }

  .worries_center_content img {
    width: 96px;
  }

  .fukidashi_text.right_top,
  .fukidashi_text.right_bottom {
    left: 58%;
  }

  /* --------- shinjoshiki -------------- */
  .h2_content h2 {
    font-size: 22px;
  }

  .h2_content h2 img {
    width: 155px;
    height: auto;
  }

  .sub_text_content p {
    font-size: 18px;
  }

  .sp_shinjoshiki_img {
    width: 341px;
  }

  /* ------------- tuyomi ------------------ */
  .img_wrap img {
    width: 155px;
    height: auto;
  }

  .text_no {
    font-size: 24px;
  }

  .text_red.tuyomi {
    font-size: 32px;
  }

  .h2_content_tuyomi {
    margin-bottom: 30px;
  }

  .tuyomi_img_content,
  .tuyomi_img_content.center,
  .tuyomi_img_content.right {
    width: 360px;
  }

  .h4_content {
    margin-bottom: 6px;
  }

  .h4_content h4 {
    font-size: 22px;
  }

  .tuyomi_img_p_content p {
    font-size: 16px;
    line-height: 22px;
  }

  .tuyomi_img_text_content {
    padding-top: 176px;
  }



}

@media screen and (max-width: 375px) {

  .navigation {
    top: 66px;
  }

  .navigation_link {
    padding-bottom: 11px;
    padding-top: 33px;
  }

  .navigation_list_item:nth-of-type(2) .navigation_link,
  .navigation_list_item:nth-of-type(3) .navigation_link,
  .navigation_list_item:nth-of-type(4) .navigation_link {
    padding-top: 22px;
  }

  .navigation_list_item {
    padding-top: 0px;
    padding-left: 15px;
    padding-bottom: 2px;
    padding-right: 16px;
  }

  .navigation_link img {
    width: 6px;
  }

  .sp_contact_button_content {
    margin-bottom: 33px;
  }

  .sp_contact_button_content img {
    width: 311px;
  }

  header {
    padding: 21px 0px;
  }

  .pc_logo_img {
    display: none;
  }

  .sp_logo_img {
    display: block;
    width: 171px;
    height: auto;
  }

  .hamburger_close,
  .hamburger_open {
    width: 28px;
    height: 28px;
  }

  .fv_content_flex {
    margin-top: 0px;
    gap: 1px;
  }

  .sp_fukidashi_img {
    width: 238px;
    height: 82px;
  }

  .fukidashi_bottom_content {
    margin-bottom: 11px;
  }

  .fukidashi_bottom_text_top_content {
    margin-bottom: -2px;
  }

  .fukidashi_bottom_text {
    font-size: 18px;
  }

  .kome,
  .fukidashi_bottom_text.bottom {
    font-size: 12px;
  }

  .pc_icon_text {
    display: none;
  }

  .sp_icon_text {
    display: block;
    width: 108px;
    height: auto;
  }

  .fv_right_content img {
    width: 270px;
  }

  /*  *************  worries ************/
  .worries {
    padding-bottom: 38px;
  }

  .worries_top_text_content {
    align-items: start;
    margin-left: 43px;
  }

  .konna_text {
    letter-spacing: 1.9px;
  }

  .dots,
  .red_text {
    margin-left: 1px;
  }

  .arima_text {
    font-size: 22px;
  }

  .worries_main_content_flex {
    justify-content: start;
  }

  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 141px;
  }

  .worries_reft_content {
    margin-left: 7px;
  }

  .bg_fukidashi_content_reft_top {
    margin-top: -11px;
  }

  .bg_fukidashi_content_reft_center {
    margin-top: -11px;
  }

  .bg_fukidashi_content_reft_bottom {
    margin-top: -11px;
  }

  .fukidashi_text {
    top: 48%;
  }

  .worries_center_content {
    margin-top: 93px;
    margin-left: -5px;
  }

  .worries_center_content img {
    width: 90px;
  }

  .bg_fukidashi_content_right_top {
    margin-top: 38px;
    margin-left: -5px;
  }

  .bg_fukidashi_content_right_bottom {
    margin-top: -11px;
    margin-left: -5px;
  }

  .fukidashi_text.right_top,
  .fukidashi_text.right_bottom {
    left: 55%;
  }

  .fukidashi_text.right_top {
    top: 45%;
  }

  .fukidashi_text.right_bottom {
    top: 45%;
  }

  /* ---------- shinjoshiki --------- */
  .h2_content {
    margin-top: 48px;
    margin-left: 3px;
  }

  .sub_text_content {
    margin-top: 24px;
    margin-bottom: 27px;
  }

  .sp_sub_text {
    line-height: 28px;
  }

  /* --------------- tuyomi ------------------- */
  .tuyomi_section {
    padding-bottom: 25px;
  }

  .h2_content_tuyomi {
    padding-top: 181px;
  }

  .text_no {
    top: -6px;
    left: 5px;
  }

  .text_red.tuyomi {
    top: -10px;
    left: 3px;
  }

  .h2_content_tuyomi {
    margin-bottom: 14px;
  }

  .h4_content h4 {
    line-height: 30px;
    letter-spacing: -2.0px;
  }

  .tuyomi_img_content {
    margin-bottom: 7px;
  }

  .tuyomi_img_content.center {
    margin-bottom: 5px;
  }

  .h4_content {
    margin-bottom: 16px;
  }

  .tuyomi_img_p_content p {
    letter-spacing: 0.2px;
  }

}

@media screen and (max-width: 370px) {
  .worries_top_text_content {
    align-items: center;
    margin-left: 0px;
  }

  .worries_main_content_flex {
    justify-content: center;
  }

  .fukidashi_text {
    font-size: 11px;
  }

  .worries_reft_content {
    margin-left: 0px;
  }

  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 136px;
  }

  .fukidashi_text,
  .fukidashi_text.center {
    left: 51%;
  }

  .worries_center_content img {
    width: 82px;
  }

  .fukidashi_text.right_top,
  .fukidashi_text.right_bottom {
    left: 60%;
  }

  /* ----------- shinjoshiki --------------- */
  .h2_content h2 {
    font-size: 21px;
  }

  .sub_text_content p {
    font-size: 17px;
  }

  .sp_shinjoshiki_img {
    width: 320px;
  }

  /* --------------- tuyomi ------------------- */
  .tuyomi_img_content,
  .tuyomi_img_content.center,
  .tuyomi_img_content.right {
    width: 335px;
  }

  .h4_content h4 {
    font-size: 20px;
  }

  .h4_content {
    margin-bottom: 6px;
  }

  .tuyomi_img_text_content {
    padding-top: 170px;
  }

  .tuyomi_img_p_content p {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
}

@media screen and (max-width: 360px) {
  .sp_icon_text {
    width: 100px;
  }

  .h4_content {
    margin-bottom: 10px;
  }

}