html {
  font-family: "Noto Sans JP", "Zen Maru Gothic", "DM Sans", "Roboto", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* *********** header **************** */
.fv {
  background-image: url(../img/pc/fv-bg-img@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 70px;
}

.navigation {
  display: none;
  position: fixed;
  top: 95px;
  z-index: 9999;
  background-color: #db0000;
  width: 100%;
}

.navigation_list_item {
  padding: 0px 10px;
}

.navigation_link {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: solid 1px #fff;
}

.navigation_link img {
  width: 16px;
  height: auto;
}

.navigation_list_item:last-of-type {
  margin-bottom: 30px;
}

.sp_contact_button_content {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 20px;
}

.sp_contact_button_content img {
  width: 500px;
  height: auto;
}

header {
  padding: 10px 0px;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}

.logo_content {
  margin-left: 120px;
}

.sp_logo_img {
  display: none;
}

.hamburger_close,
.hamburger_open {
  display: none;
}

.header_menu_ul {
  display: flex;
  align-items: center;
  width: 900px;
  padding-top: 0px;
}

.header_menu_ul a {
  font-size: 16px;
  font-weight: bold;
  color: #0d0d0d;
}

.header_menu_ul li:first-child {
  margin-left: 46px;
}

.header_menu_ul li:first-child,
.header_menu_ul li:nth-child(2),
.header_menu_ul li:nth-child(3) {
  margin-right: 40px;
}

.header_menu_ul li:nth-child(4) {
  margin-right: 46px;
}

.header_menu_ul li:nth-child(5) {
  position: relative;
  top: 5px;
}

.header_menu_ul li:nth-child(5):hover {
  opacity: 0.7;
}

.header_menu li a img {
  display: block;
}

/* ************* fv ******************** */

.fv_content_flex {
  display: flex;
  margin-top: 44px;
  align-items: center;
}

.fv_left_content {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-left: 294px;
  margin-right: 19px;
}

.pc_fukidashi_img {
  margin-bottom: -6px;
  margin-top: -5px;
}

.sp_fukidashi_img {
  display: none;
}

.fukidashi_bottom_content {
  margin-bottom: 29px;
}

.fukidashi_bottom_text_top_content {
  display: flex;
  justify-content: center;
}

.fukidashi_bottom_text {
  font-size: 28px;
  font-weight: bold;
}

.fukidashi_bottom_text.center {
  margin-bottom: 4px;
}

.fukidashi_bottom_text.bottom {
  font-size: 18px;
  font-weight: normal;
}

.icon_rectangle_content {
  display: flex;
  gap: 10px;
}

.sp_icon_text {
  display: none;
}

.fv_right_content {
  margin-top: 11px;
}

/* ********** cta ********************* */
.cta_content {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.cta_content a:hover {
  opacity: 0.7;
}

.sp_cta {
  display: none;
}

/* ************ worries ****************** */
.worries {
  background-color: #f8f8f8;
  padding-top: 57px;
  padding-bottom: 48px;
}

.worries_top_text_content {
  display: flex;
  flex-flow: column;
  margin-left: 533px;
}

.worries_top_text_content h2 {
  font-size: 37px;
  font-weight: bold;
}

.dots,
.red_text {
  letter-spacing: 1.5px;
  color: #db0000;
  font-size: 42px;
}

.worries_top_text_content h2 .dots:nth-of-type(2) {
  background-image: radial-gradient(circle at center, #db0000 20%, transparent 20%);
  /* 点の色とサイズ調整 */
  background-position: 0px 1px;
  /* 点の位置 */
  background-repeat: repeat-x;
  /* 横方向に繰り返し */
  background-size: 1em 0.3em;
  /* 点の間隔とサイズ調整 */
  padding-top: 0.12em;
  /* 縦方向の位置調整 */
}

.worries_top_text_content h2 .dots:nth-of-type(4) {
  background-image: radial-gradient(circle at center, #db0000 20%, transparent 20%);
  /* 点の色とサイズ調整 */
  background-position: 1px 1px;
  /* 点の位置 */
  background-repeat: repeat-x;
  /* 横方向に繰り返し */
  background-size: 1em 0.3em;
  /* 点の間隔とサイズ調整 */
  padding-top: 0.12em;
  /* 縦方向の位置調整 */
}

.worries_top_text_content h2 .dots:nth-of-type(5) {
  background-image: radial-gradient(circle at center, #db0000 20%, transparent 20%);
  /* 点の色とサイズ調整 */
  background-position: 3px 1px;
  /* 点の位置 */
  background-repeat: repeat-x;
  /* 横方向に繰り返し */
  background-size: 1em 0.3em;
  /* 点の間隔とサイズ調整 */
  padding-top: 0.12em;
  /* 縦方向の位置調整 */
}

.mada_text {
  letter-spacing: -0.7px;
}

.arima_text {
  display: none;
}

.worries_main_content_flex {
  display: flex;
  /* justify-content: center; */
  margin-top: 51px;
  /* gap:20px; */
}

.worries_reft_content {
  margin-left: 401px;
}

.bg_fukidashi_content_reft_top {
  background-image: url("../img/pc/fukidashi-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 332px;
  height: 128px;
  margin-top: -2px;
  position: relative;
}

.bg_fukidashi_content_reft_center {
  background-image: url("../img/pc/fukidashi-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 345px;
  height: 128px;
  margin-top: -4px;
  margin-left: 3px;
  position: relative;
}

.bg_fukidashi_content_reft_bottom {
  background-image: url("../img/pc/fukidashi-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 332px;
  height: 128px;
  position: relative;
}

.bg_fukidashi_content_right_top {
  background-image: url("../img/pc/fukidashi-4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 332px;
  height: 148px;
  margin-top: 38px;
  position: relative;
}

.bg_fukidashi_content_right_bottom {
  background-image: url("../img/pc/fukidashi-5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 332px;
  height: 148px;
  position: relative;
}

.fukidashi_text {
  color: #fff;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.sp {
  display: none;
}

.fukidashi_text.center {
  text-align: left;
  top: 47%;
  left: 62%;
}

.fukidashi_text.right_top {
  top: 48%;
}

.fukidashi_text.right_bottom {
  top: 47%;
}

.worries_center_content {
  margin-left: 5px;
}

.worries_right_content {
  margin-left: 25px;
}

/* *********** shinjoshiki **************** */
.h2_content {
  display: flex;
  justify-content: center;
  margin-top: 58px;
}

.h2_content h2 {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
}

.sub_text_content p {
  font-size: 28px;
  font-weight: bold;
}

.text_red {
  color: #db0000;
}

.sub_text_content {
  margin-top: 31px;
  margin-left: 613px;
  margin-bottom: 53px;
}

.sub_text_bottom {
  display: inline-block;
  margin-left: 13px;
}

.sp_sub_text {
  display: none;
}

.shinjoshiki_img_content {
  display: flex;
  justify-content: center;
  margin-bottom: -128px;
  z-index: 2;
}

.sp_shinjoshiki_img {
  display: none;
}

/* -------------- tuyomi ---------------- */
.tuyomi_section {
  background-color: #f8f8f8;
  z-index: 1;
  padding-bottom: 56px;
}

.h2_content_tuyomi {
  padding-top: 195px;
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}

.h2_content_tuyomi h2 {
  display: flex;
  align-items: center;
}

.text_no {
  font-size: 34px;
  font-weight: bold;
  position: relative;
  top: -3px;
}

.text_red.tuyomi {
  font-size: 44px;
  position: relative;
  top: -6px;
  left: 2px;
}

.tuyomi_img_content_wrapper_flex {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.tuyomi_img_content {
  background-image: url(../img/pc/tuyomi-img-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 368px;
  aspect-ratio: 368 / 499;
  height: auto;
}

.tuyomi_img_content.center {
  background-image: url(../img/pc/tuyomi-img-2.png);
}

.tuyomi_img_content.right {
  background-image: url(../img/pc/tuyomi-img-3.png);
}

.tuyomi_img_text_content {
  padding-top: 237px;
}

.h4_content {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 19px;
}

.h4_content h4 {
  font-size: 24px;
  font-weight: bold;
}

.text_center {
  display: flex;
  justify-content: center;
}

.tuyomi_img_p_content {
  display: flex;
  justify-content: center;
}

.tuyomi_img_p_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.9px;
}

/* ------------- himitu ---------------- */
.himitu_section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.img_wrap.himitu {
  display: flex;
  justify-content: center;
}

.h2_content_tuyomi.himitu {
  display: block;
}

.h2_content_tuyomi.himitu h2 {
  display: block;
}

.text_gyoumu {
  font-size: 36px;
  font-weight: bold;
}

.h2_content_tuyomi.himitu {
  padding-top: 0px;
  margin-bottom: 46px;
}

.text_gyoumu {
  position: relative;
  left: -3px;
}

.text_no.himitu {
  top: -8px;
  left: 6px;
}

.himitu_content_flex {
  display: flex;
}

.himitu_img_content {
  margin-left: 410px;
}

.sp_himitu_img {
  display: none;
}

.himitu_text_content {
  margin-left: 53px;
  margin-top: 66px;
}

.himitu_text_content h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.himitu_text_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.himitu_content_flex.bottom {
  margin-bottom: 56px;
}

.himitu_text_content.bottom {
  margin-left: 410px;
  margin-top: 85px;
}

.himitu_img_content.bottom {
  margin-left: 0px;
}

.himitu_img_content.bottom img {
  margin-top: 36px;
  margin-left: 59px;
}

.cta_button_content {
  display: flex;
  justify-content: center;
}

.cta_button_content:hover {
  opacity: 0.7;
}

.sp_cta_button_img {
  display: none;
}

/* --------------- kaizen --------------------*/
.kaizen_section {
  background-color: #f8f8f8;
  padding-top: 53px;
  padding-bottom: 60px;
}

.h2_text_content {
  display: flex;
  justify-content: center;
  margin-bottom: 51px;
}

.h2_text {
  font-size: 36px;
  font-weight: bold;
}

.select_content_flex {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.select_text_content {
  border-bottom: solid 1px #cbcbcb;
  width: 355px;
  display: flex;
  padding-bottom: 24px;
  margin-bottom: 32px;
}

.select_text_content:hover {
  cursor: pointer;
  opacity: 0.7;
}

.select_text_arrow_content {
  width: 355px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -8px;
}

.vertical_red_line {
  width: 4px;
  height: 35px;
  border-left: solid 2px #db0000;
  margin-right: 12px;
}

.vertical_red_line {
  visibility: hidden;
}

.select_text_content.active .vertical_red_line {
  visibility: visible;
}

.select_text_content.active .select_text,
.select_text_content.active .arrow {
  color: #db0000;
}

.select_text {
  font-size: 24px;
  font-weight: bold;
}

.select_text,
.arrow {
  color: #b5b5b5;
}

.arrow {
  position: relative;
  top: 3px;
  left: -7px;
}

.display_after_select {
  width: 690px;
  background-color: #fff;
  padding-top: 29px;
  padding-bottom: 33px;
  padding-left: 32px;
  box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.2);
}

.midashi_content {
  width: 656px;
  border-bottom: solid 4px #f0f0f0;
  padding-bottom: 13px;
  margin-bottom: 20px;
}

.midashi {
  font-size: 28px;
  font-weight: bold;
}

.setumei_content {
  margin-bottom: 33px;
}

.setumei {
  font-size: 18px;
  font-weight: 500;
}

.red_line_square {
  border: solid 1px #db0000;
  border-radius: 10px;
  width: 628px;
  padding-top: 24px;
  padding-bottom: 9px;
  padding-left: 24px;
  margin-bottom: 32px;
}

.check_icon_img_text_content {
  display: flex;
  margin-bottom: 12px;
}

.check_icon_img {
  margin-right: 12px;
}

.red_line_square_text {
  color: #db0000;
  font-size: 20px;
  font-weight: bold;
}

.bg_square {
  background-color: #f5f5f5;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 11px;
  border-radius: 10px;
  width: 640px;
  margin-bottom: 15px;
}

.before_after_text_content {
  display: flex;
  margin-bottom: 16px;
}

.before_after_text {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #989898;
  margin-right: 16px;
}

.vartical_line {
  border-right: solid 1px #989898;
  height: 31px;
  margin-right: 16px;
}

.before_after_jp_text_heading {
  font-size: 20px;
  font-weight: bold;
  color: #989898;
}

.square_bottom_text {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.bg_square.red {
  background-color: #fef3f3;
  margin-bottom: 18px;
  padding-bottom: 2px;
}

.before_after_text.red,
.before_after_jp_text_heading.red {
  color: #db0000;
}

.vartical_line.red {
  border-right: solid 1px #db0000;
}

.display_after_select_bottom_text {
  font-size: 18px;
  font-weight: 400;
}

.display_after_select {
  display: none;
}

.display_after_select#keiri {
  display: block;
}

/* -------------- plan ------------------ */
.plan_section {
  padding-top: 59px;
  padding-bottom: 38px;
}

.h2_text_content.plan {
  margin-bottom: 49px;
}

.plan_img_content_flex {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 9px;
}

.contact_button_content {
  display: flex;
  justify-content: center;
}

.contact_button_content:hover {
  opacity: 0.7;
}

/*  -------------- service ------------------- */
.service_section {
  background-color: #f8f8f8;
  padding-top: 60px;
  padding-bottom: 62px;
}

.h2_text_content.service {
  margin-bottom: 33px;
}

.catchcopy_text_content {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}

.catchcopy_text {
  font-size: 18px;
  font-weight: 500;
  padding-top: 5px;
  margin-right: 9px;
}

.sp_mieruka_img_content {
  display: none;
}

.sp_step_content_flex {
  display: none;
}

.step_img_content_flex {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-bottom: 14px;
}

.eigyoubi_img_content_flex {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-bottom: 24px;
}

.otoiawase_text_content {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.otoiawase_text {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.9px;
}

.text_red.otoiawase {
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(transparent 60%, #fdd8d8 60%);
}

.service_cta_button_img_content {
  display: flex;
  justify-content: center;
}

.sp_service_cta_button_img_content {
  display: none;
}

/*  --------------- qa ----------------- */
.qa_section {
  padding-top: 57px;
}

.h2_text_content.qa {
  margin-bottom: 50px;
}

.q_a_content {
  border-top: solid 1px #cbcbcb;
  border-bottom: solid 1px #cbcbcb;
  width: 800px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 24px;
}

.q_content_flex {
  display: flex;
  align-items: center;
}

.question_content_flex {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.q_icon_content,
.answer_icon_content {
  margin-right: 16px;
}

.q_icon_content {
  display: flex;
  align-items: center;
}

.plus_icon:hover,
.cross_icon:hover {
  cursor: pointer;
}

.question_text {
  font-size: 20px;
  font-weight: bold;
}

.answer_text {
  font-size: 16px;
  font-weight: 400;
}

.cross_icon {
  display: none;
}

.answer_content_flex {
  margin-top: 18px;
}

.answer_content_flex {
  display: none;
}

.plus_cross_icon_content {
  display: flex;
  align-items: center;
}

.q_a_content.two_or_more {
  border-top: none;
}

.q_a_content.two_or_more.last {
  margin-bottom: 40px;
}

/* ---------------- contact ------------------- */
.contact_section {
  background-color: #f8f8f8;
  padding-top: 60px;
  padding-bottom: 60px;
}

.h2_text_content.contact {
  margin-bottom: 34px;
}

.contact_text_content {
  display: flex;
  justify-content: center;
}

.contact_text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 53px;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form_content_flex {
  width: 800px;
  border-top: solid 1px #cbcbcb;
  border-bottom: solid 1px #cbcbcb;
  padding-top: 28px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_content_flex.two_or_more {
  border-top: none;
}

.label_hissu_icon_content {
  display: flex;
  align-items: center;
  margin-top: -28px;
}

.label_text {
  font-size: 18px;
  font-weight: bold;
  margin-right: 16px;
}

.input_content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  border: solid 1px #cccccc;
  border-radius: 4px;
  background-color: #fff;
  width: 530px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 4px;
}

input::placeholder,
textarea::placeholder {
  color: #a5a5a5;
  font-size: 18px;
  font-weight: 400;
}

.textarea {
  border: solid 1px #cccccc;
  border-radius: 4px;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 13px;
  width: 530px;
  height: 225px;
}

.label_nini_icon_content {
  display: flex;
  padding-top: 12px;
}

.form_textarea_flex {
  padding-top: 28px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #cbcbcb;
  padding-bottom: 29px;
  margin-bottom: 52px;
}

.checkbox_text_content_flex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox {
  width: 24px;
  height: 24px;
  border: solid 1px #cccc;
  border-radius: 4px;
}

.privacy_text {
  font-size: 16px;
  font-weight: bold;
}

.sp_submit_img {
  display: none;
}

.submit_img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.input_content .error_message {
  position: absolute;
  top: 53px;
  color: #d94141;
  font-size: 12px;
  font-weight: 500;
}

.checkbox_text_content_flex {
  display: flex;
  gap: 12px;
}

.privacy_error_message {
  display: block;
  color: #d94141;
  font-size: 12px;
  font-weight: 500;
  margin-top: -21px;
  margin-bottom: 3px;
}

.form-group__input--error {
  border: solid 1px #d94141 !important;
}

.privacy_link {
  color: #0d0d0d;
}

/* --------- footer ------------ */
.footer_content {
  width: 1100px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.post_code_text,
.address_text,
.company_text {
  font-size: 16px;
  font-weight: 400;
}

.taizii_img_content {
  margin-bottom: 32px;
}

.address_content {
  margin-bottom: 16px;
}

.company_content a {
  color: #0d0d0d;
  text-decoration: underline;
}

.up_arrow_img {
  position: fixed;
  right: 20%;
  bottom: 100px;
  z-index: 999;
  cursor: pointer;
}

.up_arrow_img {
  display: none;
}

@media screen and (min-width: 1921px) {
  .fv_content_flex {
    justify-content: center;
    gap: 32px;
  }

  .fv_left_content {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* ********* worries ********** */
  .worries_top_text_content {
    align-items: center;
    margin-left: 0px;
  }

  .worries_main_content_flex {
    justify-content: center;
    gap: 20px;
  }

  .worries_reft_content {
    margin-left: 0px;
  }

  .bg_fukidashi_content_reft_center {
    margin-left: 0px;
  }

  .worries_center_content {
    margin-left: 0px;
  }

  .worries_right_content {
    margin-left: 0px;
  }

  /* *********** shinjoshiki **************** */
  .sub_text_content {
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }

  .sub_text_bottom {
    display: block;
    margin-left: 0px;
  }

  .sub_text_content p:not(.sp_sub_text) {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  /* ------------- himitu ---------------- */
  .himitu_content_flex {
    justify-content: center;
    gap: 40px;
  }

  .himitu_img_content {
    margin-left: 0px;
  }

  .himitu_text_content {
    margin-left: 0px;
    margin-top: 66px;
  }

  .himitu_content_flex.bottom {
    margin-bottom: 56px;
  }

  .himitu_text_content.bottom {
    margin-left: 0px;
    margin-top: 85px;
  }

  .himitu_img_content.bottom {
    margin-left: 0px;
  }

  .himitu_img_content.bottom img {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1919px) {
  .worries_top_text_content {
    align-items: center;
    margin-left: 0px;
  }

  .fv_content_flex {
    justify-content: center;
    gap: 32px;
  }

  .fv_left_content {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* ********* worries ********** */
  .worries_main_content_flex {
    justify-content: center;
    gap: 20px;
  }

  .worries_reft_content {
    margin-left: 0px;
  }

  .bg_fukidashi_content_reft_center {
    margin-left: 0px;
  }

  .worries_center_content {
    margin-left: 0px;
  }

  .worries_right_content {
    margin-left: 0px;
  }

  /* *********** shinjoshiki **************** */
  .sub_text_content {
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }

  .sub_text_bottom {
    display: block;
    margin-left: 0px;
  }

  .sub_text_content p:not() {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  /* ------------- himitu ---------------- */
  .himitu_content_flex {
    justify-content: center;
    gap: 40px;
  }

  .himitu_img_content {
    margin-left: 0px;
  }

  .himitu_text_content {
    margin-left: 0px;
    margin-top: 66px;
  }

  .himitu_content_flex.bottom {
    margin-bottom: 56px;
  }

  .himitu_text_content.bottom {
    margin-left: 0px;
    margin-top: 85px;
  }

  .himitu_img_content.bottom {
    margin-left: 0px;
  }

  .himitu_img_content.bottom img {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1400px) {
  .pc_fukidashi_img {
    width: 420px;
    height: auto;
  }

  .fukidashi_bottom_text {
    font-size: 22px;
  }

  .fukidashi_bottom_text.bottom {
    font-size: 16px;
  }

  .pc_icon_text {
    width: 130px;
    height: auto;
  }

  .fv_right_content img {
    width: 450px;
    height: auto;
  }
}

@media screen and (max-width: 1220px) {
  .header_menu_ul {
    width: 750px;
  }

  .header_menu_ul li:first-child {
    margin-left: 0px;
  }

  .header_menu_ul li:first-child,
  .header_menu_ul li:nth-child(2),
  .header_menu_ul li:nth-child(3) {
    margin-right: 20px;
  }

  .header_menu_ul li:nth-child(4) {
    margin-right: 26px;
  }

  /* ******** worries ********** */
  .worries_top_text_content h2 {
    font-size: 30px;
  }

  .dots,
  .red_text {
    font-size: 36px;
  }

  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 300px;
  }

  .fukidashi_text {
    font-size: 18px;
  }

  .fukidashi_text.center {
    left: 66%;
  }

  .worries_center_content {
    margin-top: auto;
    margin-bottom: auto;
  }

  .worries_center_content img {
    width: 300px;
    height: auto;
  }

  /* -------------- kaizen ---------------- */
  .select_text_content {
    width: 280px;
  }

  .select_text {
    font-size: 23px;
  }

  .display_after_select {
    width: 620px;
  }

  .midashi_content {
    width: 580px;
  }

  .midashi {
    font-size: 27px;
  }

  .setumei {
    font-size: 17px;
  }

  .red_line_square_text {
    font-size: 19px;
  }

  .square_bottom_text {
    font-size: 17px;
  }

  .before_after_text {
    font-size: 23px;
  }

  .display_after_select_bottom_text {
    font-size: 17px;
  }

  .red_line_square {
    width: 550px;
  }

  .bg_square {
    width: 560px;
  }

  /* ----------- plan -------------- */
  .plan_img {
    width: 320px;
    aspect-ratio: 368 / 536;
    height: auto;
  }

  /* -------------- service ------------ */
  .step_img {
    width: 170px;
    aspect-ratio: 218 / 264;
    height: auto;
  }

  .service_cta_button_img {
    width: 900px;
    aspect-ratio: 1100 / 248;
    height: auto;
  }

  .eigyoubi_img {
    width: 500px;
    aspect-ratio: 650 / 50;
    height: auto;
  }

  .eigyoubi_img.two {
    width: 310px !important;
    aspect-ratio: 426 / 50 !important;
    height: auto !important;
  }

  /* ---------- footer --------------- */
  .footer_content {
    width: 980px;
  }

  /* ---------- up-arrow --------------- */
  .up_arrow_img {
    right: 10%;
  }
}

@media screen and (max-width: 1120px) {
  .logo_content {
    margin-left: 80px;
  }

  .header_menu_ul {
    width: 690px;
  }

  .header_menu_ul li:first-child,
  .header_menu_ul li:nth-child(2),
  .header_menu_ul li:nth-child(3) {
    margin-right: 10px;
  }

  .header_menu_ul li:nth-child(4) {
    margin-right: 16px;
  }

  /* ---------- cta ------------- */
  .cta_content img:first-child {
    width: 900px;
    height: auto;
  }

  /* ------------------- shinjoshiki ----------------- */
  .shinjoshiki_img_content img:not(.sp_shinjoshiki_img) {
    width: 800px;
    aspect-ratio: 1100 / 324;
    height: auto;
  }

  /* ------------- tuyomi --------------------- */
  .tuyomi_img_content_wrapper_flex {
    gap: 0px;
  }

  .tuyomi_img_content {
    width: 330px;
  }

  .tuyomi_img_text_content {
    padding-top: 220px;
  }

  .h4_content {
    margin-bottom: 7px;
  }

  .h4_content h4 {
    font-size: 22px;
  }

  .tuyomi_img_p_content p {
    font-size: 17px;
    line-height: 25px;
  }

  /* ----------- himitu ----------------- */
  .himitu_content_flex {
    gap: 20px;
  }

  .cta_button_content img {
    width: 900px;
    aspect-ratio: 1100 / 300;
    height: auto;
  }

  .himitu_img_content img:not(.sp_himitu_img),
  .himitu_img_content.bottom img {
    width: 400px;
    aspect-ratio: 468 / 320;
    height: auto;
  }

  .himitu_text_content h3 {
    font-size: 26px;
  }

  .himitu_text_content p {
    font-size: 17px;
  }
}

/* ********** ブレイクポイント ***************** */
@media screen and (max-width: 1000px) {
  .fv {
    padding-bottom: 23px;
  }

  header {
    padding: 38px 0px;
  }

  .pc_logo_img {
    width: 220px;
    height: auto;
  }

  .header_menu_nav {
    display: none;
  }

  .hamburger_close,
  .hamburger_open {
    display: block;
    margin-right: 30px;
    width: 40px;
  }

  .hidden {
    display: none !important;
  }

  .fv_content_flex {
    flex-flow: column;
  }

  .pc_fukidashi_img {
    display: none;
  }

  .sp_fukidashi_img {
    display: block;
    width: 500px;
    height: auto;
  }

  .fukidashi_bottom_text {
    font-size: 28px;
  }

  .kome {
    position: relative;
    font-size: 18px;
    top: 2px;
  }

  .fukidashi_bottom_text.bottom {
    font-size: 18px;
  }

  .icon_rectangle_content {
    gap: 28px;
  }

  .pc_icon_text {
    width: 230px;
  }

  .fv_right_content img {
    width: 530px;
  }

  /* ------------ cat --------------- */

  .cta_content {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* PC用画像を非表示 */
  .cta_content img:first-child {
    display: none;
  }

  .cta_content a {
    width: 100%;
    /* 必要に応じてmax-width調整OK */
  }

  /* sp画像を幅1000px基準で可変表示 */
  .sp_cta {
    display: block;
    width: 100% !important;
    max-width: 1000px !important;
    height: auto !important;
  }

  /* -------------------- worries ------------- */
  .worries {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .mada_text {
    display: none;
  }

  .arima_text {
    display: block;
    text-align: center;
  }

  .sp {
    display: block;
  }

  .worries_main_content_flex {
    gap: 0px;
    margin-top: 30px;
  }

  .bg_fukidashi_content_reft_top {
    background-image: url(../img/sp/sp-fukidashi-1.png);
  }

  .bg_fukidashi_content_reft_center {
    background-image: url(../img/sp/sp-fukidashi-2.png);
  }

  .bg_fukidashi_content_reft_bottom {
    background-image: url(../img/sp/sp-fukidashi-3.png);
  }

  .bg_fukidashi_content_right_top {
    background-image: url(../img/sp/sp-fukidashi-4.png);
  }

  .bg_fukidashi_content_right_bottom {
    background-image: url(../img/sp/sp-fukidashi-5.png);
  }

  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 252px;
    aspect-ratio: 141 / 105;
    height: auto;
  }

  .fukidashi_text {
    text-align: left;
    width: 50%;
  }

  .fukidashi_text,
  .fukidashi_text.center {
    left: 45%;
  }

  .fukidashi_text.right_top,
  .fukidashi_text.right_bottom {
    left: 54%;
  }

  /* ------------------- shinjoshiki ----------------- */
  .sub_text_content p:not(.sp_sub_text) {
    display: none;
  }

  .sp_sub_text {
    display: block;
  }

  .shinjoshiki_img_content img:not(.sp_shinjoshiki_img) {
    display: none;
  }

  .sp_shinjoshiki_img {
    display: block;
    width: 500px;
    aspect-ratio: 311 / 317;
    height: auto;
  }

  /* --------------- tuyomi ----------------------- */
  .tuyomi_img_content_wrapper_flex {
    flex-flow: column;
    align-items: center;
  }

  .tuyomi_img_content {
    background-image: url(../img/sp/sp-tuyomi-img-1.png);
  }

  .tuyomi_img_content.center {
    background-image: url(../img/sp/sp-tuyomi-img-2.png);
  }

  .tuyomi_img_content.right {
    background-image: url(../img/sp/sp-tuyomi-img-3.png);
  }

  .tuyomi_img_content,
  .tuyomi_img_content.center,
  .tuyomi_img_content.right {
    width: 550px;
    aspect-ratio: 361 / 376;
  }

  .tuyomi_img_text_content {
    padding-top: 264px;
  }

  .h4_content h4 {
    font-size: 33px;
  }

  .h4_content {
    margin-bottom: 12px;
  }

  .tuyomi_img_p_content p {
    font-size: 22px;
    line-height: 35px;
  }

  /* ----------- himitu ----------------- */
  .himitu_section {
    padding-bottom: 0px;
  }

  .h2_content_tuyomi.himitu {
    display: block;
  }

  .h2_content_tuyomi.himitu h2 {
    display: block;
  }

  .img_wrap.himitu {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }

  .img_wrap.himitu img {
    position: relative;
    top: 8px;
  }

  .himitu_img_content img:not(.sp_himitu_img, .sp_daihyou_img) {
    display: none;
  }

  .sp_himitu_img {
    display: block;
    width: 500px !important;
    aspect-ratio: 343 / 235 !important;
    height: auto !important;
  }

  .himitu_img_content.bottom img {
    width: 500px;
    margin-top: 50px;
  }

  .himitu_content_flex {
    flex-flow: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .himitu_img_content.bottom {
    order: 1;
  }

  .himitu_text_content.bottom {
    order: 2;
  }

  .himitu_text_content h3 {
    display: flex;
    flex-flow: column;
    text-align: center;
  }

  .himitu_content_flex {
    gap: 0px;
  }

  .himitu_text_content {
    margin-top: 20px;
  }

  .himitu_text_content.bottom {
    margin-top: 20px;
  }

  .himitu_text_content h3 {
    font-size: 30px;
  }

  .himitu_text_content p {
    font-size: 22px;
  }

  .cta_button_content img:not(.sp_cta_button_img) {
    display: none;
  }

  .cta_button_content {
    display: block;
  }

  .sp_cta_button_img {
    display: block;
    width: 100% !important;
    max-width: 1000px !important;
    height: auto !important;
    aspect-ratio: 375 / 226 !important;
  }

  /* -------------- kaizen --------------------- */
  .select_text_arrow_content {
    margin-top: 0px;
  }

  .select_content_flex {
    flex-flow: column;
    align-items: center;
  }

  .select_text_content {
    background-color: #fff;
    padding-bottom: 0px;
    width: 500px;
    height: 58px;
    display: flex;
    align-items: center;
  }

  .vertical_red_line {
    height: 40px;
  }

  .arrow {
    display: none;
  }

  .select_text_content {
    border-bottom: none;
  }

  .midashi_content {
    width: 410px;
  }

  .check_icon_img_text_content {
    align-items: center;
  }

  .display_after_select {
    width: 437px;
  }

  .red_line_square {
    width: 380px;
  }

  .check_icon_img {
    width: 20px;
    aspect-ratio: 20 / 29;
    height: auto;
  }

  .bg_square {
    width: 388px;
  }

  .kaizen_space {
    margin-left: 18px;
  }

  /* ----------- plan ---------------- */
  .plan_img_content_flex {
    margin-left: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    justify-content: start;
  }

  .plan_img {
    width: 368px;
  }

  .contact_button_content {
    display: none;
  }

  /* ------------- service -------------------- */
  .service_section {
    padding-bottom: 0px;
  }

  .sp_mieruka_img_content {
    display: flex;
    justify-content: center;
  }

  .sp_mieruka_img {
    aspect-ratio: 292 / 44;
    height: auto;
    width: 300px;
  }

  .catchcopy_text {
    margin-right: 0px;
  }

  .catchcopy_text_content {
    text-align: center;
  }

  .step_img_content_flex,
  .eigyoubi_img_content_flex,
  .service_cta_button_img_content,
  .mieruka_img_content {
    display: none;
  }

  .sp_step_content_flex {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .sp_step_img {
    width: 400px;
    aspect-ratio: 311 / 126;
    height: auto;
  }

  .sp_eigyoubi_img.one {
    width: 44px;
    aspect-ratio: 34 / 374;
    height: auto;
  }

  .sp_eigyoubi_img.two {
    width: 44px;
    aspect-ratio: 34 / 244;
    height: auto;
  }

  .sp_service_cta_button_img_content {
    display: block;
  }

  .sp_service_cta_button_img {
    display: block;
    width: 100% !important;
    max-width: 1000px !important;
    height: auto !important;
    aspect-ratio: 375 / 176 !important;
  }

  .otoiawase_text_content {
    text-align: center;
    margin-bottom: 48px;
  }

  .otoiawase_text {
    line-height: 52px;
  }

  .sp_service_cta_button_img:hover {
    opacity: 0.7;
  }

  /* ------------- qa -------------------- */
  .q_a_content {
    width: 500px;
  }

  /* ------------- contact ------------ */
  .contact_text {
    margin-bottom: 40px;
  }

  .form_content_flex {
    width: 553px;
    flex-flow: column;
    align-items: start;
    padding-top: 50px;
  }

  .form_textarea_flex {
    padding-top: 10px;
    flex-flow: column;
    width: 553px;
    margin-bottom: 30px;
  }

  .label_hissu_icon_content {
    margin-bottom: 10px;
  }

  .label_nini_icon_content {
    margin-bottom: 10px;
  }

  /* ------------- footer ---------------- */

  .footer_content {
    width: 550px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .sp_fukidashi_img {
    width: 400px;
  }

  .pc_icon_text {
    width: 160px;
  }

  .fv_right_content img {
    width: 430px;
  }

  /* ********** worries *********** */
  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 210px;
  }

  .fukidashi_text {
    width: 60%;
  }

  .fukidashi_text,
  .fukidashi_text.center {
    left: 46%;
  }

  .worries_center_content img {
    width: 170px;
  }

  .fukidashi_text.right_top,
  .fukidashi_text.right_bottom {
    left: 55%;
  }
}

@media screen and (max-width: 600px) {
  .sp_contact_button_content img {
    width: 460px;
  }

  .sp_fukidashi_img {
    width: 300px;
  }

  .fukidashi_bottom_text {
    font-size: 22px;
  }

  .kome,
  .fukidashi_bottom_text.bottom {
    font-size: 15px;
  }

  .pc_icon_text {
    width: 120px;
  }

  .fv_right_content img {
    width: 330px;
  }

  /* ********** worries ************* */
  .worries_top_text_content h2 {
    font-size: 22px;
  }

  .dots,
  .red_text {
    font-size: 30px;
  }

  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 170px;
  }

  .fukidashi_text {
    font-size: 14px;
  }

  .worries_center_content img {
    width: 110px;
  }

  /* --------- shinjoshiki -------------- */
  .h2_content h2 {
    font-size: 24px;
  }

  .h2_content h2 img {
    width: 180px;
    height: auto;
  }

  .sub_text_content p {
    font-size: 20px;
  }

  .sp_shinjoshiki_img {
    width: 400px;
    height: auto;
  }

  /* ------------- tuyomi ------------------ */
  .img_wrap img {
    width: 180px;
    height: auto;
  }

  .text_no {
    font-size: 24px;
  }

  .text_red.tuyomi {
    font-size: 34px;
  }

  .h2_content_tuyomi {
    margin-bottom: 30px;
  }

  .tuyomi_img_content,
  .tuyomi_img_content.center,
  .tuyomi_img_content.right {
    width: 420px;
  }

  .h4_content h4 {
    font-size: 24px;
  }

  .tuyomi_img_p_content p {
    font-size: 17px;
    line-height: 26px;
  }

  .tuyomi_img_text_content {
    padding-top: 220px;
  }

  /* ------------ himitu ------------------- */
  .text_gyoumu {
    font-size: 34px;
  }

  .sp_himitu_img {
    width: 400px !important;
  }

  .himitu_img_content.bottom img {
    width: 400px;
  }

  .himitu_text_content p {
    font-size: 19px;
  }

  /* ---------- kaizen --------------- */
  .display_after_select {
    width: 390px;
  }

  .h2_text {
    font-size: 34px;
  }

  .select_text_content {
    width: 400px;
  }

  .midashi {
    font-size: 22px;
  }

  .midashi_content {
    width: 350px;
  }

  .red_line_square_text {
    font-size: 18px;
  }

  .square_bottom_text {
    font-size: 16px;
  }

  .display_after_select_bottom_text {
    font-size: 14px;
  }

  .kaizen_space {
    margin-left: 15px;
  }

  .red_line_square {
    padding-left: 16px;
    width: 340px;
  }

  .bg_square {
    width: 340px;
  }

  /* ------------ service ------------------- */
  .sp_eigyoubi_img.one {
    width: 42px;
  }

  .sp_eigyoubi_img.two {
    width: 42px;
  }

  .sp_step_img {
    width: 380px;
  }

  /* ------------- qa -------------------- */
  .q_a_content {
    width: 400px;
  }

  .question_text {
    font-size: 18px;
  }

  .answer_text {
    font-size: 15px;
  }

  /* -------------- contact ------------------ */
  .form_content_flex {
    width: 400px;
  }

  .input {
    width: 382px;
  }

  .form_textarea_flex {
    width: 415px;
  }

  .textarea {
    width: 385px;
  }

  /* --------------- footer -------------------- */
  .footer_content {
    width: 410px;
  }
}

@media screen and (max-width: 450px) {
  .sp_contact_button_content img {
    width: 360px;
  }

  .logo_content {
    margin-left: 16px;
  }

  .hamburger_close,
  .hamburger_open {
    margin-right: 16px;
  }

  .sp_fukidashi_img {
    width: 260px;
  }

  .fukidashi_bottom_text {
    font-size: 20px;
  }

  .kome,
  .fukidashi_bottom_text.bottom {
    font-size: 14px;
  }

  .icon_rectangle_content {
    gap: 10px;
  }

  .pc_icon_text {
    width: 110px;
  }

  .fv_right_content img {
    width: 300px;
  }

  /* *********** worries *************** */
  .worries {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .worries_top_text_content h2 {
    font-size: 20px;
  }

  .dots,
  .red_text {
    font-size: 26px;
  }

  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 132px;
  }

  .fukidashi_text,
  .fukidashi_text.center {
    left: 48%;
  }

  .fukidashi_text {
    font-size: 12px;
    width: 70%;
  }

  .worries_center_content img {
    width: 96px;
  }

  .fukidashi_text.right_top,
  .fukidashi_text.right_bottom {
    left: 58%;
  }

  /* --------- shinjoshiki -------------- */
  .h2_content h2 {
    font-size: 22px;
  }

  .h2_content h2 img {
    width: 155px;
    height: auto;
  }

  .sub_text_content p {
    font-size: 18px;
  }

  .sp_shinjoshiki_img {
    width: 341px;
  }

  /* ------------- tuyomi ------------------ */
  .img_wrap img {
    width: 155px;
    height: auto;
  }

  .text_no {
    font-size: 24px;
  }

  .text_red.tuyomi {
    font-size: 32px;
  }

  .h2_content_tuyomi {
    margin-bottom: 30px;
  }

  .tuyomi_img_content,
  .tuyomi_img_content.center,
  .tuyomi_img_content.right {
    width: 360px;
  }

  .h4_content {
    margin-bottom: 6px;
  }

  .h4_content h4 {
    font-size: 22px;
  }

  .tuyomi_img_p_content p {
    font-size: 16px;
    line-height: 22px;
  }

  .tuyomi_img_text_content {
    padding-top: 176px;
  }

  /*  --------------- himitu ----------------- */
  .text_gyoumu {
    font-size: 22px;
    top: 4px;
  }

  .text_no.himitu {
    font-size: 22px;
  }

  .img_wrap.himitu img {
    top: 3px;
  }

  .sp_himitu_img {
    width: 343px !important;
  }

  .himitu_text_content h3 {
    font-size: 22px;
  }

  .himitu_text_content p {
    font-size: 16px;
  }

  .himitu_text_content p {
    line-height: 26px;
  }

  .himitu_img_content.bottom img {
    width: 343px;
  }

  /* ------------ kaizen ---------------- */
  .kaizen_section {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .h2_text_content {
    margin-bottom: 24px;
  }

  .h2_text {
    font-size: 22px;
  }

  .select_text_content {
    width: 343px;
    height: 40px;
    margin-bottom: 10px;
  }

  .select_text {
    font-size: 16px;
  }

  .midashi {
    font-size: 20px;
  }

  .setumei {
    font-size: 16px;
  }

  .check_icon_img {
    width: 16px;
  }

  .red_line_square_text {
    font-size: 16px;
  }

  .before_after_text {
    font-size: 18px;
  }

  .before_after_jp_text_heading {
    font-size: 16px;
  }

  .vartical_line {
    height: 24px;
  }

  .square_bottom_text {
    font-size: 14px;
  }

  .display_after_select_bottom_text {
    font-size: 12px;
  }

  .red_line_square {
    width: 290px;
    margin-bottom: 16px;
  }

  .bg_square {
    width: 290px;
  }

  .display_after_select {
    padding-left: 16px;
    padding-bottom: 16px;
    width: 326px;
  }

  .midashi_content {
    width: 308px;
  }

  .bg_square.red {
    margin-bottom: 12px;
  }

  .setumei_content {
    margin-bottom: 16px;
  }

  /* -------------- plan -------------------- */
  .plan_section {
    padding-top: 46px;
  }

  .h2_text_content.plan {
    margin-bottom: 26px;
  }

  .plan_img {
    width: 300px;
  }

  /* -------------- service ------------------ */
  .catchcopy_text {
    font-size: 16px;
  }

  .sp_eigyoubi_img.one {
    width: 34px;
  }

  .sp_eigyoubi_img.two {
    width: 34px;
  }

  .sp_step_img {
    width: 300px;
  }

  .otoiawase_text_content {
    margin-bottom: 40px;
  }

  .otoiawase_text {
    font-size: 22px;
    line-height: 45px;
  }

  .text_red.otoiawase {
    font-size: 26px;
  }

  /* ------------ qa ------------------ */
  .q_a_content {
    width: 348px;
  }

  .q_icon_content,
  .answer_icon_content {
    margin-right: 8px;
  }

  .q_icon_content img,
  .answer_icon_content img {
    width: 24px;
    aspect-ratio: 28 / 28;
    height: auto;
  }

  .question_text {
    font-size: 16px;
  }

  .answer_text {
    font-size: 14px;
  }

  /* --------------- contact ------------------- */
  .contact_text {
    font-size: 16px;
  }

  .label_text {
    font-size: 16px;
  }

  .hissu_icon {
    width: 42px;
    aspect-ratio: 42 / 26;
    height: auto;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 16px;
  }

  .privacy_text {
    font-size: 14px;
  }

  .form_content_flex {
    width: 343px;
  }

  .input {
    width: 323px;
  }

  .form_textarea_flex {
    width: 357px;
  }

  .textarea {
    width: 330px;
  }

  .submit_img {
    width: 343px;
    aspect-ratio: 416 / 70;
    height: auto;
  }

  /* ----------- footer -------------- */
  .footer_content {
    width: 350px;
  }

  .post_code_text,
  .address_text,
  .company_text {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .navigation {
    top: 66px;
  }

  .navigation_link {
    padding-bottom: 11px;
    padding-top: 33px;
  }

  .navigation_list_item:nth-of-type(2) .navigation_link,
  .navigation_list_item:nth-of-type(3) .navigation_link,
  .navigation_list_item:nth-of-type(4) .navigation_link {
    padding-top: 22px;
  }

  .navigation_list_item {
    padding-top: 0px;
    padding-left: 15px;
    padding-bottom: 2px;
    padding-right: 16px;
  }

  .navigation_link img {
    width: 6px;
  }

  .sp_contact_button_content {
    margin-bottom: 33px;
  }

  .sp_contact_button_content img {
    width: 311px;
  }

  header {
    padding: 21px 0px;
  }

  .pc_logo_img {
    display: none;
  }

  .sp_logo_img {
    display: block;
    width: 171px;
    height: auto;
  }

  .hamburger_close,
  .hamburger_open {
    width: 28px;
    height: 28px;
  }

  .fv_content_flex {
    margin-top: 0px;
    gap: 1px;
  }

  .sp_fukidashi_img {
    width: 238px;
    height: 82px;
  }

  .fukidashi_bottom_content {
    margin-bottom: 11px;
  }

  .fukidashi_bottom_text_top_content {
    margin-bottom: -2px;
  }

  .fukidashi_bottom_text {
    font-size: 18px;
  }

  .kome,
  .fukidashi_bottom_text.bottom {
    font-size: 12px;
  }

  .pc_icon_text {
    display: none;
  }

  .sp_icon_text {
    display: block;
    width: 108px;
    height: auto;
  }

  .fv_right_content img {
    width: 270px;
  }

  /*  *************  worries ************/
  .worries {
    padding-bottom: 38px;
  }

  .worries_top_text_content {
    align-items: start;
    margin-left: 43px;
  }

  .konna_text {
    letter-spacing: 1.9px;
  }

  .dots,
  .red_text {
    margin-left: 1px;
  }

  .arima_text {
    font-size: 22px;
  }

  .worries_main_content_flex {
    justify-content: start;
  }

  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 141px;
  }

  .worries_reft_content {
    margin-left: 7px;
  }

  .bg_fukidashi_content_reft_top {
    margin-top: -11px;
  }

  .bg_fukidashi_content_reft_center {
    margin-top: -11px;
  }

  .bg_fukidashi_content_reft_bottom {
    margin-top: -11px;
  }

  .fukidashi_text {
    top: 48%;
  }

  .worries_center_content {
    margin-top: 93px;
    margin-left: -5px;
  }

  .worries_center_content img {
    width: 90px;
  }

  .bg_fukidashi_content_right_top {
    margin-top: 38px;
    margin-left: -5px;
  }

  .bg_fukidashi_content_right_bottom {
    margin-top: -11px;
    margin-left: -5px;
  }

  .fukidashi_text.right_top,
  .fukidashi_text.right_bottom {
    left: 55%;
  }

  .fukidashi_text.right_top {
    top: 45%;
  }

  .fukidashi_text.right_bottom {
    top: 45%;
  }

  /* ---------- shinjoshiki --------- */
  .h2_content {
    margin-top: 48px;
    margin-left: 3px;
  }

  .sub_text_content {
    margin-top: 24px;
    margin-bottom: 27px;
  }

  .sp_sub_text {
    line-height: 28px;
  }

  /* --------------- tuyomi ------------------- */
  .tuyomi_section {
    padding-bottom: 25px;
  }

  .h2_content_tuyomi {
    padding-top: 181px;
  }

  .text_no {
    top: -6px;
    left: 5px;
  }

  .text_red.tuyomi {
    top: -10px;
    left: 3px;
  }

  .h2_content_tuyomi {
    margin-bottom: 14px;
  }

  .h4_content h4 {
    line-height: 30px;
    letter-spacing: -2px;
  }

  .tuyomi_img_content {
    margin-bottom: 7px;
  }

  .tuyomi_img_content.center {
    margin-bottom: 5px;
  }

  .h4_content {
    margin-bottom: 16px;
  }

  .tuyomi_img_p_content p {
    letter-spacing: 0.2px;
  }

  /* ------------ himitu ------------------ */
  .himitu_section {
    padding-top: 45px;
  }

  .text_gyoumu {
    top: 3px;
    left: 0px;
  }

  .img_wrap.himitu img {
    top: 9px;
    left: 6px;
  }

  .text_no.himitu {
    top: 4px;
    left: 6px;
  }

  .text_red.tuyomi {
    font-size: 30px;
  }

  .text_red.tuyomi.himitu {
    top: 5px;
    left: -1px;
  }

  .h2_content_tuyomi.himitu {
    margin-bottom: 30px;
  }

  .himitu_img_content.sp {
    margin-top: -18px;
  }

  .himitu_text_content h3 {
    margin-bottom: 16px;
  }

  .himitu_text_content p {
    line-height: 24px;
    letter-spacing: -0.2px;
    position: relative;
    left: -3px;
  }

  .himitu_img_content.bottom img {
    margin-top: 30px;
  }

  .himitu_text_content.bottom {
    margin-top: 16px;
  }

  .himitu_content_flex.bottom {
    margin-bottom: 48px;
  }

  /* ------------ kaizen ----------------- */
  .kaizen_section {
    padding-top: 45px;
  }

  .select_text_content {
    margin-bottom: 8px;
  }

  .select_content_flex {
    gap: 17px;
  }

  .display_after_select {
    padding-top: 16px;
  }

  .midashi_content {
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  .red_line_square {
    width: 295px;
    padding-left: 14px;
  }

  .check_icon_img {
    margin-right: 8px;
  }

  .red_line_square {
    padding-top: 16px;
    padding-bottom: 3px;
  }

  .before_after_text {
    margin-right: 11px;
  }

  .vartical_line {
    margin-right: 12px;
  }

  .kaizen_space {
    margin-left: 14px;
  }

  .square_bottom_text {
    line-height: 21px;
  }

  .bg_square {
    width: 294px;
    margin-bottom: 6px;
  }

  .bg_square.red {
    margin-bottom: 17px;
  }

  /* ----------------- plan ---------------- */
  .plan_section {
    padding-bottom: 60px;
  }

  .h2_text_content.plan {
    margin-bottom: 22px;
  }

  .plan_img_content_flex {
    margin-left: 9px;
  }

  .plan_img {
    width: 291px;
  }

  /* ---------------- service ------------------- */
  .service_section {
    padding-top: 42px;
  }

  .h2_text_content.service {
    margin-bottom: 24px;
  }

  .sp_mieruka_img {
    width: 292px;
  }

  .catchcopy_text {
    padding-top: 12px;
    line-height: 26px;
  }

  .catchcopy_text_content {
    margin-bottom: 26px;
  }

  .sp_step_content_flex {
    justify-content: start;
    margin-bottom: 10px;
  }

  .sp_eityoubi_img_container {
    margin-left: 16px;
  }

  .sp_eigyoubi_img_content.one {
    margin-top: -1px;
  }

  .sp_eigyoubi_img_content.two {
    margin-top: 10px;
  }

  .sp_step_img_container {
    margin-left: 7px;
  }

  .sp_step_img {
    width: 311px;
  }

  .sp_step_img_content.one {
    margin-top: -1px;
  }

  .sp_step_img_content.two {
    margin-top: -1px;
  }

  .sp_step_img_content.three {
    margin-top: -1px;
  }

  .sp_step_img_content.four {
    margin-top: -1px;
  }

  .sp_step_img_content.five {
    margin-top: -1px;
  }

  .otoiawase_text_content {
    margin-bottom: 45px;
  }

  .otoiawase_text {
    font-size: 21px;
    line-height: 34px;
  }

  .text_red.otoiawase {
    font-size: 27px;
  }

  /* ------------- qa ---------------- */
  .qa_section {
    padding-top: 48px;
  }

  .h2_text_content.qa {
    margin-bottom: 24px;
  }

  .q_a_content {
    padding-top: 15px;
    padding-bottom: 16px;
  }

  .answer_content_flex {
    margin-top: 13px;
  }

  .q_a_content.two_or_more.last {
    margin-bottom: 48px;
  }

  /* ---------- contact --------------- */
  .contact_section {
    padding-top: 49px;
    padding-bottom: 44px;
  }

  .h2_text_content.contact {
    margin-bottom: 22px;
  }

  .contact_text {
    line-height: 28px;
    margin-bottom: 20px;
  }

  .input {
    height: 38px;
    width: 329px;
    margin-bottom: 0px;
    padding-left: 12px;
  }

  .form_content_flex {
    padding-top: 46px;
  }

  .label_hissu_icon_content {
    margin-bottom: 8px;
  }

  .form_textarea_flex {
    padding-top: 0px;
    width: 344px;
    padding-bottom: 19px;
    margin-bottom: 19px;
  }

  .textarea {
    width: 321px;
    height: 185px;
  }

  .label_nini_icon_content {
    margin-bottom: 6px;
  }

  .checkbox {
    width: 20px;
    height: 20px;
  }

  .checkbox_text_content_flex {
    margin-left: -23px;
  }

  .submit_img {
    display: none;
  }

  .sp_submit_img {
    display: block;
  }

  /* ----------- footer ----------------- */
  .footer_content {
    width: 344px;
    padding-top: 55px;
  }

  .taizii_img_content {
    margin-bottom: 13px;
  }
}

@media screen and (max-width: 370px) {
  .worries_top_text_content {
    align-items: center;
    margin-left: 0px;
  }

  .worries_main_content_flex {
    justify-content: center;
  }

  .fukidashi_text {
    font-size: 11px;
  }

  .worries_reft_content {
    margin-left: 0px;
  }

  .bg_fukidashi_content_reft_top,
  .bg_fukidashi_content_reft_center,
  .bg_fukidashi_content_reft_bottom,
  .bg_fukidashi_content_right_top,
  .bg_fukidashi_content_right_bottom {
    width: 136px;
  }

  .fukidashi_text,
  .fukidashi_text.center {
    left: 51%;
  }

  .worries_center_content img {
    width: 82px;
  }

  .fukidashi_text.right_top,
  .fukidashi_text.right_bottom {
    left: 60%;
  }

  /* ----------- shinjoshiki --------------- */
  .h2_content h2 {
    font-size: 21px;
  }

  .sub_text_content p {
    font-size: 17px;
  }

  .sp_shinjoshiki_img {
    width: 320px;
  }

  /* --------------- tuyomi ------------------- */
  .tuyomi_img_content,
  .tuyomi_img_content.center,
  .tuyomi_img_content.right {
    width: 335px;
  }

  .h4_content h4 {
    font-size: 20px;
  }

  .h4_content {
    margin-bottom: 6px;
  }

  .tuyomi_img_text_content {
    padding-top: 170px;
  }

  .tuyomi_img_p_content p {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  /* ------------- himitu --------------- */
  .sp_himitu_img {
    width: 310px !important;
  }

  .himitu_img_content.bottom img {
    width: 310px !important;
  }

  .himitu_text_content p {
    font-size: 15px;
  }

  /*  -------------- kaizen -------------------- */
  .select_text_content {
    width: 310px;
  }

  .midashi {
    font-size: 18px;
  }

  .setumei {
    font-size: 14px;
  }

  .red_line_square_text {
    font-size: 14px;
  }

  .square_bottom_text {
    font-size: 13px;
  }

  .red_line_square {
    width: 270px;
  }

  .bg_square {
    width: 270px;
  }

  .display_after_select {
    width: 303px;
  }

  .midashi_content {
    width: 287px;
  }

  .before_after_text_content {
    display: flex;
    margin-bottom: 12px;
  }

  .square_bottom_text {
    margin-bottom: 8px;
  }

  /* ---------------- service ------------------- */

  .sp_step_content_flex {
    justify-content: center;
  }

  .sp_eityoubi_img_container {
    margin-left: 0px;
  }

  .sp_step_img_container {
    margin-left: 0px;
  }

  .sp_eigyoubi_img.one,
  .sp_eigyoubi_img.two {
    width: 32px;
  }

  .sp_step_img {
    width: 290px;
  }

  /* -------------- qa ---------------- */
  .q_a_content {
    width: 330px;
  }

  .question_text {
    font-size: 15px;
  }

  .answer_text {
    font-size: 13px;
  }

  /* ------------ contact ------------------- */
  .contact_text {
    font-size: 15px;
  }

  .form_content_flex {
    width: 320px;
  }

  .input {
    width: 305px;
  }

  .form_textarea_flex {
    width: 324px;
  }

  .textarea {
    width: 300px;
  }

  .sp_submit_img {
    width: 300px;
    aspect-ratio: 343 / 50;
    height: auto;
  }

  /* ---------- footer ------------ */
  .footer_content {
    width: 327px;
  }
}

@media screen and (max-width: 360px) {
  .sp_icon_text {
    width: 100px;
  }

  .h4_content {
    margin-bottom: 10px;
  }
}
